body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

/* criação da grid */

.grid-container {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: auto auto auto;
    border-radius: 30px;
    width: 600px;
    height: 430px;
    margin: 1em auto;
    box-shadow: 2px 2px hsl(0,0%,92.2%);
    background-color: hsl(0, 0%, 100%);
  }

    /* ---- Formtação da grid ---- */

/* Formatação grid-item1 */

  .grid-item1 {
    border-radius: 30px;
    width: 300px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%))
  }

  .grid-item1 h1 {
    font-size: 20px;
    padding: 1em;
    color: hsl(0, 0%, 70%);
  }

  .grid-item1 h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: hsl(0, 0%, 100%);
  }

  .grid-item1 p {
    font-size: 18px;
    padding: 10px 25px 25px;
    color: hsl(0, 0%, 70%);
  }

/* Formatação dados do Reult */

  .result {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: 1em auto;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  }

  .result h2 {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 30%;
    color: hsl(0, 0%, 100%);
  }

  .result p {
    font-size: 15px;
    color: hsl(0, 0%, 65%);
  }

  /* Formatação grid-item2 Resul */

  .grid-item2 {
    width: 300px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: hsla(241, 72%, 46%, 0);
  }

  .grid-item2 h1 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10%;
  }

 /* Formatação dados do Summary */

  .summary li {
    font-weight: bold;
    border-radius: 10px;
    text-align: left;
    margin: 1em 2em;
    padding: 5%;
  }

  .reaction {
    background:  hsl(0, 100%, 98%);
  }

  .reaction strong {
    color: hsl(0, 100%, 67%);
  }

  .reaction strong img {
    vertical-align: middle;
  }

  .reaction p {
    display: block;
    float: right;
  }

  .reaction p a {
    opacity: 0.5;
  }

  .memory {
    background: hsl(39, 100%, 98%);
  }

  .memory strong {
    color: hsl(39, 100%, 56%);
  }

  .memory strong img {
    vertical-align: middle;
  }

  .memory p {
    display: block;
    float: right;
  }

  .memory p a {
    opacity: 0.5;
  }

  .verbal {
    background: hsl(166, 100%, 98%);
  }

  .verbal strong {
    color: hsl(166, 100%, 37%);
  }

  .verbal strong img {
    vertical-align: middle;
  }

  .verbal p {
    display: block;
    float: right;
  }

  .verbal p a {
    opacity: 0.5;
  }

  .visual {
    background: hsl(234, 85%, 98%);
  }

  .visual strong {
    display: inline-block;
    color: hsl(234, 85%, 45%);
  }

  .visual strong img {
    vertical-align: middle;
  }

  .visual p {
    display: block;
    float: right;
  }

  .visual p a {
    opacity: 0.5;
  }

  .button {
    border: none;
    border-radius: 50px;
    height: 46px;
    width: 230px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
  }

  .button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%))
  }

/* Atribuição final da página */

  .attribution {
    text-align: center;
  }

/* CSS para Mobile*/

@media screen and (max-width: 375px) {
  .grid-container {
    display:inline;
    text-align: center;
    grid-template-columns: auto auto auto;
    border-radius: 0px;
    height: 667px;
    width: 375px;
    box-shadow: none;
    background-color: hsl(0, 0%, 100%);
    margin: 0px;
  }

  .grid-item1 {
    border-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 375px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%))
  }  

  .grid-item2 {
    width: 375px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: hsla(241, 72%, 46%, 0);
  } 

  .attribution {
    text-align: center;
    padding: 30px;
  }
}


